.carousel-control-next .fa-chevron-right,
.carousel-control-prev .fa-chevron-left {
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background: rgba(187, 201, 205, 0.5);
}

.carousel-control-next .fa-chevron-right {
    margin-left: 120px;
}
.carousel-control-prev .fa-chevron-left {
    margin-right: 120px;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .top-content .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .top-content .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .top-content .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .top-content .carousel-inner .active + .carousel-item {
        display: block;
    }
    .top-content .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .top-content .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .top-content .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .top-content .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .top-content .carousel-item-next.carousel-item-left + .carousel-item,
    .top-content  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .top-content  .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .top-content  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .top-content  .carousel-item-prev.carousel-item-right + .carousel-item,
    .top-content   .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .top-content  .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .top-content   .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .top-content  .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .top-content  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .top-content   .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .top-content  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .top-content  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .top-content  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .top-content   .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .top-content  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.top-content{
    margin-top: 20px;
}

.top-content .carousel-item{
    padding: 0 !important;

}

.top-content .d-block{
    margin: 0 !important;
    border: none;
}

.top-content img{
    width: 95%;
    height: auto;
}

.slider-nav .slick-current img{
    border: 4px solid #0055aa;
}

.slick-list{
    padding: 0 !important;
}

.slick-slide{
    cursor: pointer;
}

.slick-slide img{
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, .1);
}

.slider-nav .slick-slide{
    margin: 0 10px;
}

.slider-nav{
    margin-top: 10px;
}

.slick-next{
    position: absolute;
    top: 30%;
    z-index: 1;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    padding: 10px;
    text-indent: -99999px; /* getting rid of text */
    transform: translateY(-50%); /* vertical centering */
}