.active-filters h3 {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 15px;
    font-weight: 600;
}

.filter-category {
    display: inline-block;
}

.filter-category .filter-category-name {
    font-size: 15px;
}

.filter-category .filter-name {
    background: #ffffff;
    font-size: 15px;
    margin-left: 15px;
    padding: 4px 10px;
}

.filter-category .filter-name i {
    margin-left: 5px;
    cursor: pointer;
}
.filter-category .filter-name i:hover {
    color: #0055AA;
}

.clear-all-filters {
    margin-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: -1px;
    cursor: pointer;
}
.clear-all-filters:hover {
    text-decoration: none;
}

.product-info {
    background: #ffffff;
    margin: 20px 0;
    box-shadow: 1px 0 15px 6pxpx rgba(0, 0, 0, .1);
}

.product-info img {
    max-height: 150px;
    padding: 15px;
    margin: 10px;
}

.product-info .col-sm-2 {
    padding: 10px;
}

.product-info .fa-heart {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.product-info .compare {
    font-size: 12px;
    text-align: center;
    color: #4E4E4E;
    cursor: pointer;
    widows: 100%;
    transition: 0.2s;
    margin-top: 10px;
    padding: 10px;
}
.product-info .compare:hover {
    background: #F0F0F0;
}

.product-info .compare i {
    margin-right: 10px;
}

.product-info .recommender-by-producent {
    background: #0055AA;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 12px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.product-info .recommender-by-producent i {
    margin-left: 30px;
}

.product-info p {
    margin: 0;
}

.product-name {
    margin: 10px 0 !important;
    font-weight: bold;
}

.product-description,
.product-id {
    font-size: 13px;
    color: #7B7B7B;
}

.product-actions {
    margin: 10px 0;
}

.product-actions p {
    display: inline-block;
    margin-right: 25px;
}

.product-info .ask-social,
.product-info .buy-count {
    color: #085AAD;
    font-size: 14px;
    cursor: pointer;
}

.product-info .product-details {
    margin-top: 20px;
    padding-left: 15px;
}

.product-info .product-details li {
    font-size: 11px;
}

.text-bold {
    font-weight: bold;
}

.product-info .price {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 0;
}

.product-info .installment {
    margin-top: -5px;
    text-decoration: underline;
    font-size: 12px;
}

.product-info .delivery-time {
    margin-top: 40px;
    font-size: 15px;
}

.add-to-cart-button {
    display: block;
    width: 90%;
    background: #E40010;
    color: white;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    transition: 0.2s;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.add-to-cart-button:hover {
    text-decoration: none;
    color: white;
    background: #AB000E;
}
