.forgot-password .login-container{
    padding: 20px 25%;
}

.forgot-password img{
    width: 50%;
}

.forgot-password p{
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password .forgot-password-subheading{
    font-size: 13px;
}

.forgot-password .login-container{
    margin-bottom: 30px;
}