.password-strength-meter {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .password-strength-meter-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 8px;
  }
  
  .password-strength-meter-progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
  }
  
  .password-strength-meter-label {
    font-size: 13px;
    float: right;
    margin-top: 5px;
  }
  
  .password-strength-meter-progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
  
  .strength-Slabe::-webkit-progress-value {
    background-color: #F25F5C;
  }
  .strength-Srednie::-webkit-progress-value {
    background-color: #FFE066;
  }
  .strength-Dobre::-webkit-progress-value {
    background-color: #247BA0;
  }
  .strength-Silne::-webkit-progress-value {
    background-color: #70C1B3;
  }

  .lstrength-Slabe {
    color: #F25F5C;
  }
  .lstrength-Srednie {
    color: #FFE066;
  }
  .lstrength-Dobre {
    color: #247BA0;
  }
  .lstrength-Silne {
    color: #70C1B3;
  }